body{
    background-color: white;
}
h1.home{
    
    background-image: url(download.png) ;
    background-size: 120px;
    text-align: center;

}
ul.menu {
    margin: 0;
    padding:0;
    text-align: center;
}
 
li {
    list-style: none; 
    margin: 10px;
    display: inline;
}

li a {
    padding: 5px 10px;
    align-content: center; 
    margin: 0px;
    border: 0px solid #f00; 
    background: #903;
    text-decoration: none;
    color:#FFF;
    /* cantos arredondados */
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    border-radius:5px;
}
li a:hover {
    background: rgb(153, 243, 255);
    color: #000; 
    border-color: #000;
}

